{{!-- admin + post body --}}

    {{#each posts as |post|}}
<div class="post">
  <div class="post-header">
    <div class="inline">
    <div class = "text-left">
    <h2>{{post.title}}</h2>
    </div>
    <div class = "text-right">
    <p>Posted by {{post.user_id}} on {{post.date_created}}</p>
    </div>
    </div>

  </div>
  <div class = "post-body">
    {{post.body}}
  </div>
</div>
    {{/each}}

