<div class="post">
  <div class="post-header">
    <h2> Login </h2>
  </div>

  <div class = "post-body">

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Username</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="login-button">Login!</button>
      </div>
    </form>
    <p>
      <a href="/signup">
        Sign up instead 
      </a>
    </p>

  </div>




<script src="/js/login.js"></script>

